#hearts-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

/* heart shape */
.heart {
  position: absolute;
  bottom: -20px;
  background: #ff6b81;
  transform: rotate(45deg);
  opacity: 0.8;
  animation-name: floatUp;
  animation-timing-function: linear;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  background: #ff6b81;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.heart::before {
  top: -50%;
  left: 0;
}

.heart::after {
  left: -50%;
  top: 0;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(-110vh) rotate(45deg);
    opacity: 0;
  }
}
